<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Infrastructure</title>
    <link rel="icon" href="/assets/The-Infrastructure.png">
    <link rel="stylesheet" href="/css/index.css">
    <script src="js/socket.io.min.js"></script>
    <script src="js/initilazeForm.js"></script>
    <script src="js/index.js"></script>
</head>
<body>
    <section class="header">
        <div class="title-image">
            <img src="/assets/The-Infrastructure-Full.png"/>
        </div>
        <h1 class="title">The Infrastructure</h1>
        <span class="title-desc">A simple web application infrastructure made with Socket.io and ExpressJS, (including MongoDB connection.)</span>
        <span class="cloneme">
            <span class="clonetitle">Clone Me</span>
            <span class="clonecontent" onclick="copycontent(this)">git clone https://github.com/monotter/The-Infrastructure.git</span>
        </span>
        <ul class="icons">
            <li><a href="https://github.com/monotter/The-Infrastructure/"><img src="https://github.githubassets.com/favicons/favicon.svg" alt="github icon"></a></li>
            <li><a href="https://mert.page/"><img src="https://www.mert.page/images/my-logo-png.png" alt="mertpage icon"></a></li>
        </ul>
    </section>
    <section class="container">
        <form class="messageInput" action="/api/message" method="post">
            <label>
                <span>Sender</span>
                <input name="sender" type="text">
            </label>
            <label>
                <span>Content</span>
                <textarea name="content"></textarea>
            </label>
            <input type="submit" value="Add Message">
        </form>
        <h2 class="title">Messages</h2>
        <div id="messages"></div>
    </section>
    <script>

    </script>
</body>
</html>