<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message API</title>
    <script src="js/initilazeForm.js"></script>
</head>
<body>
    <h1>Message Api</h1>
    <h2>Messages</h2>
    <form id="sendMessageForm" action="/api/message" method="post" success="logMessage(data)">
        <label>
            <span>Sender</span>
            <input name="sender" type="text">
        </label>
        <label>
            <span>Content</span>
            <textarea name="content"></textarea>
        </label>
        <input type="submit" value="Add Message">
    </form>
    <div id="messages"></div>
    <script>
        function EditMessage(mrow){
            let _id = mrow.getAttribute("data-id")
            let sender = mrow.querySelector(".sender>span").innerText
            let content = mrow.querySelector(".content>span").innerText
            mrow.innerHTML = /*html*/`
                <form method="put" action="/api/message" success="logMessage(data)">
                    <input type="hidden" name="_id" value="${_id}">
                    <div class="sender">Sender: <input name="sender" value="${sender}"></div>
                    <div class="content">Content: <input name="content" value="${content}"></div>
                    <input type="submit" value="Save">
                </form>
                <form method="get" action="/api/message" success="data.chunk&&logMessage(data.chunk[0])">
                    <input type="hidden" name="_id" value="${_id}">
                    <input type="submit" value="Cancel">
                </form>
            `
        }
        function logMessage({_id,sender,content}){
            let container = document.querySelector("#messages")
            let mrow = container.querySelector(`[data-id='${_id}']`)||(document.createElement("div"));
            !mrow.parentNode&&container.append(mrow);
            mrow.setAttribute("data-id",_id)
            mrow.innerHTML = /*html*/`
                <div class="sender">Sender: <span>${sender}</span></div>
                <div class="content">Content: <span>${content}</span></div>
                <button class="updateButton" onclick="EditMessage(this.parentElement)">Update</button>
                <form method="delete" action="/api/message" success="element.parentElement.remove()">
                    <input type="hidden" name="_id" value="${_id}">
                    <input type="submit" value="Delete">
                </form>
            `
        }

        fetch("/api/message")
        .then(async response => {
            let data = await response.json()
            if(data.chunk)
            data.chunk.forEach(logMessage)
        })
    </script>
</body>
</html>